<template>
    <v-form @submit.prevent="onAddTodo">
        <v-text-field solo label="Todo title" v-model="inputValue" hide-details></v-text-field>
    </v-form>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component';
import {rootMapper} from '@/store/root'

@Component({
    methods: {
        ...rootMapper.mapActions(['addTodo'])
    }
})
export default class AddTodo extends Vue {

    inputValue: string = ''

    onAddTodo() {
        const newTodo = {
            id: Date.now(),
            title: this.inputValue,
            completed: false
        }

        this.addTodo(newTodo)
        this.inputValue = ''
    }
}
</script>

<style lang="scss" scoped>
    .v-form {
        margin-bottom: 20px;
    }
</style>