<template>
    <v-list>
        <v-col v-if="this.loadingStatus" offset="5">
            <v-progress-circular
                indeterminate color="primary"
                size="150"
            ></v-progress-circular>
        </v-col>
        <v-list-item-group v-else>
            <TodoItem v-for="todo in this.allTodos" :key="todo.id" :todo="todo" />
        </v-list-item-group>
    </v-list>
</template>

<script lang="ts">
import Vue from 'vue'
import TodoItem from './TodoItem.vue'
import Component from 'vue-class-component';
import {rootMapper} from '@/store/root'
import { ITodo } from '@/models/ITodo';


@Component({
    computed: {
        ...rootMapper.mapGetters(['allTodos', 'loadingStatus'])
    },
    components: {
        TodoItem
    }
})
export default class TodoList extends Vue {
    mounted() {
    }
}
</script>