<template>
    <v-list-item class="list-item">
        <v-checkbox :input-value="todo.completed" @change="onCheckbox"></v-checkbox>
        <v-list-item-content>
            <v-list-item-title>{{todo.title}}</v-list-item-title>
        </v-list-item-content>
        <v-list-item-icon @click="onDelete">
            <v-icon>mdi-delete</v-icon>
        </v-list-item-icon>
    </v-list-item>
</template>


<script lang="ts">
import { ITodo } from '@/models/ITodo';
import Vue from 'vue'
import {rootMapper} from '@/store/root'
import Component from 'vue-class-component';
import { Prop } from 'vue-property-decorator';

@Component({
    computed: {
        ...rootMapper.mapGetters(['allTodos'])
    },
    methods: {
        ...rootMapper.mapActions(['deleteTodo', 'checkTodo']),
    }
})
export default class TodoItem extends Vue {
    @Prop() todo!: ITodo

    onDelete() {
        this.deleteTodo(this.todo.id)
    }

    onCheckbox() {
        this.checkTodo(this.todo.id)
    }
}

</script>

<style lang="scss" scoped>
    .list-item {
        border: 1px solid #ccc;
    }
</style>