<template>
  <v-app>
    <v-container>
      <AddTodo />
      <TodoList />
    </v-container>
  </v-app>
</template>

<script lang="ts">
import Vue from 'vue';
import Component from 'vue-class-component'
import TodoList from '@/components/TodoList.vue'
import AddTodo from '@/components/AddTodo.vue'
import {rootMapper} from '@/store/root'

@Component({
  components: {
    TodoList,
    AddTodo
  },
  methods: rootMapper.mapActions(['loadTodos'])
})
export default class App extends Vue {

  mounted() {
    this.loadTodos()
  }

}
</script>
